.home-left{
      width: 30%;
}
.home-form{
      width: 350px;
      padding: 50px;
      border-radius: 23px;
      border: 1px solid rgba(0, 0, 0, 0.3);
}
.home{
      display: flex;
}
.home-right{
      display: flex;
      gap: 20px;
      padding: 50px;
      flex-wrap: wrap;
}
.card{
      width: 300px;
      box-shadow: 4px 4px 4px rgba(0, 0 , 0, 0.3);
      text-align: center;
      font-weight: bold;
      font-size: 18px;
}
.image{
      width: 100%;
}
.card .image img{
      width: 100%;
}
.card p{
      margin-top: 5px;
}